<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thread Create</title>
</head>
<body>
<h1>New Thread</h1>
<form action="/threads" method="POST">
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" name="title"/></td>
        </tr>

        <tr>
            <td>Description</td>
            <td><input type="text" name="description"/></td>
        </tr>
    </table>
    <button type="submit">Create Thread</button>
</form>
</body>
</html>